.mainContainer {
  display: flex;
  flex-direction: column;
}
.favoritesDiv div {
  margin: 0px 5px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.favoritesDiv img {
  width: 30px;
  height: 30px;
}
.favouritesWrapper {
  margin: 0;
  font-size: 16px;
  padding-top: 20px;
  border-bottom: 1px solid gray;
  margin: 0px 5px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.favoritesDiv:hover {
  background-color: rgb(202, 198, 198);
}
