.commentsFonts {
  font-weight: 600;
}
.container p {
  margin: 0;
}
.container {
  padding: 10px 12px;
}
.halfWrapper {
  background-color: #ddd;
  margin-bottom: 10px;
  padding: 5px 12px;
  margin-top: 10px;
}
.halfWrapper p {
  margin: 0;
  font-size: 14px;
}
.darkHalfWrapper {
  background-color: #001e28;
  margin-bottom: 10px;
  padding: 5px 12px;
  margin-top: 10px;
}
.darkHalfWrapper p {
  margin: 0;
  font-size: 14px;
}
