.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  padding: 0px 10px;
}
.container p {
  margin: 0;
}
.container img {
  width: 90px;
  height: 40px;
}
.oddsWrapper {
  display: flex;
  gap: 20px;
}
.oddsWrapper div {
  display: flex;
  align-items: center;
  background-color: #ddd;
  padding: 5px 10px;
  border-radius: 5px;
  gap: 15px;
}
.oddsWrapper p {
  font-weight: 700;
  cursor: pointer;
}
.oddsWrapper p:hover {
  text-decoration: underline;
}
