.buttonsWrapper {
  display: flex;
  gap: 15px;
  padding: 15px 15px 0px 10px;
  align-items: center;
}
.buttonsWrapper button {
  align-items: center;
  appearance: none;
  background-color: #ddd;
  border-radius: 8px;
  color: #555e61;
  cursor: pointer;
  display: flex;
  font-family: inherit;
  font-size: 12px;
  font-weight: 700;
  height: 28px;
  letter-spacing: 0.4px;
  margin: initial;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  padding: 15px;
}
.active {
  color: white !important;
  background-color: #ff0046 !important;
}
