.container {
  display: flex;
}
.mainContainer {
  max-width: 1200px;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .responsiveContainer {
    display: none;
  }
  .responsiveLayout {
    max-width: 100% !important;
    flex-basis: 100% !important;
  }
}
.soundWrapper {
  width: 100%;
  display: flex;
  justify-content: end;
}
.soundWrapper svg {
  color: #001e28;
}
