.logo {
  max-width: 100px;
  height: auto;
  padding: 15px;
  cursor: pointer;
}
.mainGrid {
  background-color: #001e28;
}
.searchIcon {
  width: auto;
  height: 40px;
  padding: 10px;
  align-items: center;
  background-color: #0f2d37;
  border-radius: 8px;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  margin-right: 10px;
  color: white;
}
.searchIcon:hover {
  color: #6c98a8;
}
.searchIcon svg {
  font-size: 30px;
}
.mainBar {
  display: flex;
  flex-direction: "row";
  justify-content: space-between;
}
.linkButtonWrapper {
  color: white;
  display: flex;
  padding: 15px;
}
.linkWrapper {
  font-size: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
}
.linkButtonWrapper span {
  margin-right: 5px;
}
.linkWrapper:hover {
  color: #6c98a8;
}

.headerContainer {
  max-width: 1200px;
  margin: 0 auto;
}
.hamburgerIcon {
  display: none;
  z-index: 100;
}
.activeMenu {
  top: 0;
  right: 10px;
  z-index: 100;
}
@media screen and (max-width: 768px) {
  .top-menu {
    display: none;
    z-index: 100;
  }

  .hamburgerIcon {
    font-size: 35px;
    display: block !important;
  }
  .menu-container {
    position: fixed;
    top: 100px;
    left: 0;
    width: 100%;
    height: 90%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 100;
    display: flex;
    align-items: flex-start;
    overflow-y: auto;
  }
  .fade-in-text {
    background-color: white;
    padding: 20px;
    width: 100%;
    border-right: 1px solid #ddd;
    box-shadow: -1px 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
