.wrapperLogo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.mainContainer {
  width: 96%;
  overflow-x: auto;
  margin: 0 auto;
  border-radius: 15px !important;
}
.relegationWrapper {
  background-color: rgb(189, 0, 0);
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  padding: 1px;
}
.promotionWrapper {
  display: flex;
  background: rgb(0, 70, 130);
  color: white;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  padding: 1px;
}
.obicno {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  padding: 1px;
}
.buttonsWrapper {
  display: flex;
  gap: 15px;
  padding: 20px;
}
.buttonsWrapper button {
  align-items: center;
  appearance: none;
  background-color: #eee;
  border-radius: 8px;
  color: #555e61;
  cursor: pointer;
  display: flex;
  font-family: inherit;
  font-size: 12px;
  font-weight: 700;
  height: 28px;
  letter-spacing: 0.4px;
  margin: initial;
  /* padding: 0px 12px; */
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  padding: 18px;
}
.active {
  color: white !important;
  background-color: #ff0046 !important;
}

@media screen and (max-width: 650px) {
  table {
    min-width: 400px !important;
  }
}
