.countryWrapper {
  display: flex;
  background-color: #eef7ff;
  padding: 10px 10px 10px 15px;
  align-items: center;
  gap: 10px;
  color: black;
  border-radius: 5px;
}
.countryWrapper img {
  width: 30px;
  height: 30px;
}
.timeZoneWrapper {
  display: flex;
  gap: 15px;
  align-items: center;
}

.clubsWrapper span {
  display: flex;
  margin: 10px 30px;
  gap: 10px;
  align-items: center;
}
.clubsWrapper span img {
  width: 30px;
  height: 30px;
}
.resultsWrapper {
  display: flex;
  align-items: center;
  width: 300px;
  justify-content: end;
  gap: 15px;
}
.resultsWrapper .finalResult p {
  color: black;
  font-weight: 700;
}
.mainContainer {
  border-bottom: 1px solid gray;
}
.mainContainer:last-child {
  border: none;
}
.timeLogoWrapper {
  display: flex;
}

.winner {
  color: black;
  font-weight: 600;
}
.headerTittle h1 {
  margin: 0;
  padding: 10px 0px 10px 15px;
}

.roundWrapper {
  background: #eeeeee;
  border-radius: 10px;
  color: black;
  display: flex;
  width: 96%;
  margin: auto;
  padding: 7px;
  margin-top: 10px;
}
.timeZoneWrapper div {
  display: flex;
}
/* .starWrapper {
  display: flex;
} */

.snackbarWrapper div {
  min-width: 100px;
}
.wrapperStatusLive {
  color: #ff0046 !important;
  font-weight: 700 !important;
}
@media only screen and (max-width: 1200px) {
  .resultsWrapper {
    width: 0px;
    margin-right: 20px;
  }
  .timeLogoWrapper {
    margin-left: 25px;
  }
  .responsiveContainer {
    margin: 0px !important;
    width: 100% !important;
  }
}
