.countryWrapper {
  display: flex;
  background-color: gray;
  padding: 10px;
  align-items: center;
  gap: 10px;
  color: white;
  border-radius: 5px;
}
.countryWrapper img {
  width: 50px;
  height: 50px;
}
.timeZoneWrapper {
  display: flex;
  gap: 15px;
  align-items: center;
}

.clubsWrapper span {
  display: flex;
  margin: 10px 30px;
  gap: 10px;
  align-items: center;
}
.clubsWrapper span img {
  width: 30px;
  height: 30px;
}
.resultsWrapper {
  display: flex;
  align-items: center;
  width: 300px;
  justify-content: end;
  gap: 15px;
}
.resultsWrapper .finalResult p {
  color: black;
  font-weight: 700;
}
.mainContainer {
  border-bottom: 1px solid gray;
}
.mainContainer:last-child {
  border: none;
}
.timeLogoWrapper {
  display: flex;
}

.winner {
  color: black;
  font-weight: 600;
}
