.mainContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 12px;
}
.chart {
  display: flex;
}
.homeChart {
  display: flex;
  justify-content: flex-end;
  background-color: #ddd;
  border-radius: 3px;
  height: 11px;
  margin: 0 1px;
  width: 100%;
}
.darkHomeChart {
  background-color: #001e28;
  display: flex;
  justify-content: flex-end;
  border-radius: 3px;
  height: 11px;
  margin: 0 1px;
  width: 100%;
}
.darkAwayChart {
  background-color: #001e28;
  display: flex;
  border-radius: 3px;
  height: 11px;
  margin: 0 1px;
  width: 100%;
}
.awayChart {
  display: flex;
  background-color: #ddd;
  border-radius: 3px;
  height: 11px;
  margin: 0 1px;
  width: 100%;
}
.statsWrapper {
  margin: 15px 12px;
}
.mainContainer div {
  font-weight: 700;
  font-size: 15px;
}
.halfWrapper {
  background-color: #ddd;
  margin-bottom: 10px;
  padding: 5px 12px;
  margin-top: 20px;
}
.halfWrapper p {
  margin: 0;
  font-size: 14px;
}
.darkHalfWrapper {
  background-color: #001e28;
  margin-bottom: 10px;
  padding: 5px 12px;
  margin-top: 10px;
}
.darkHalfWrapper p {
  margin: 0;
  font-size: 14px;
}
