.countryWrapper {
  /* display: flex;
  align-items: center;
  font-size: 12px;
  padding: 7px;
  justify-content: space-between; */
}
.countryWrapper img {
  width: 20px;
  height: 20px;
}
.loadWrapper {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}
.loadWrapper svg {
  margin-top: 3px;
}
.countryWrapper:hover {
  background-color: gray;
}
.logoWrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: space-between;
}
.arrowIcon svg {
  font-size: 17px;
}
.arrowIcon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nameLeague {
  display: flex;
  align-items: center;
  gap: 5px;
}
.leagueWrapper {
  background-color: #b2b2b2;
}
.leagueWrapper div {
  display: flex;
  align-items: center;
  gap: 5px;
}
.leagueWrapper div:hover {
  background-color: #cccccc;
}
