.countryWrapper img {
  width: 20px;
  height: 20px;
}
.loadWrapper {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  margin-left: 8px;
}
.loadWrapper:hover {
  color: rgb(202, 198, 198);
}
.loadWrapper svg {
  margin-top: 3px;
}
.countryWrapper:hover {
  background-color: rgb(202, 198, 198);
}
.logoWrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: space-between;
  margin-left: 5px;
}
.arrowIcon svg {
  font-size: 17px;
}
.arrowIcon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nameLeague {
  display: flex;
  align-items: center;
  gap: 5px;
}
.leagueWrapper {
  background-color: rgb(221, 221, 221);
}
.leagueWrapper div {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-left: 5px;
}
.leagueWrapper div:hover {
  background-color: #cccccc;
}
.mainCointainer h1 {
  margin: 0;
  font-size: 16px;
  padding-top: 20px;
  border-bottom: 1px solid gray;
  margin: 0px 5px;
  padding-bottom: 5px;
}
.countryWrapperDark img {
  width: 20px;
  height: 20px;
}
.countryWrapperDark:hover {
  background-color: #001e28;
}

/* .leagueCountryDark {
  color: white;
} */

.leagueWrapperDark {
  background-color: #001e28;
}
.leagueWrapperDark div {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-left: 5px;
  color: white;
}
.leagueWrapperDark div:hover {
  background-color: #638592;
}
